body {
	background-image: url("Little_Giant_pass.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/* nav */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}


li a {
	display: block;
	color: darkblue;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

/* text */
h1 {
	text-align: center;
	color: darkorange;
	text-shadow: 2px 2px 5px yellow;
	font-family: times new roman;
	font-size: 300%;
	margin-top: 200px;
	margin-bottom: 250px;
}

.p2 {
	font-size: 18;
	color: darkorange;
	text-align: center;
	font-family: times new roman
}

.p1 {
	color: darkorange;
	font-family: times new roman;
	text-align: center;
	opacity: 0.5;
	font-size: 30;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

/* img column */
.column {
  flex: 50%;
  padding: 0 8px;
}

.column img {
  margin-top: 100px;
  margin-right: 15px;
  vertical-align: middle;
  width: 200px;
  hight: 400px;
  
}
/* img hover */
img {
    transition:transform 0.1s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(2.0);
}

/* video */

/* form */
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

/* background-color */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* hover color */
input[type=submit]:hover {
  background-color: red;
}

/* background color and padding */
.container {
  margin-top: 300px;
  margin-left: 30%;
  border-radius: 5px;
  background-color: darkorange;
  opacity: 0.5;
  padding: 50px;
  width: 30%;

  
}

﻿/* footer link */
/* unvisited link */

a:link {
color: blue;
}

/* mouse over link */
a:hover {
color: red;
}

/* selected link */
a:active {
color: red;
}